.AvatarStyle {
    display: flex;
    justify-content: left;
}

.circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    padding-top: 5px;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

  }