.displayContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height:10%

}


.button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 10%;
    align-items: center;
  }