.image-detail {
    display:flex; 
    margin-top: 200px;
    margin-left: 150px;
    justify-content: center;
    align-items : flex-end;
    height: auto;
    max-height: 500px;
    width: 900px;
    margin-bottom: 200px;
}

.view-container{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;

}

.metadata {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center; 
    margin-right: 50px;
}

